/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* global style */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-color:#c20924;
}
h1 {
    font-weight: 600;
}
.faq h1 span, .happy-client h1 span, .services h1 span, .browse h1 span{
    color: var(--primary-color);
}

/* header area */
header{
background: #000;
}
.nav-menu .nav-item .nav-link{
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.login-btn{
    color:white;
    background-color:var(--primary-color);
    font-weight: 500;
}

/* hero section */
.hero-txt p{
    font-size: 14px;
    font-weight: 300;
}


/* modal */
.modal-btn{
    background: var(--primary-color);
}

/* feature area */

.feature-txt p{
    color:var(--primary-color);
    font-size: 14px;
}
.line{
    background: var(--primary-color);
    width: 60px;
    height: 2px;
}
.feature-img{
    filter: grayscale(100%);
}

/* happy client */

.star-icon i{
    font-size: 18px;
    color: var(--primary-color);
}
.card-body h5{
    font-size: 14px;
}
.card-body h4{
    font-size: 15px;
    font-weight: 600;
}

/* frequently asked questions */

.collapse-btn{
    border: 1px solid #ddd;
}

/* services section */
.single-service{
    border-top: 4px solid var(--primary-color);
    transition: transform 0.3s ease-in-out;
}
.single-service:hover{
    transform: translateY(-7%);
}
.single-service:hover .service-icon{
    background: var(--primary-color);
}
.single-service:hover .service-icon i{
    color:white;
}
.service-icon{
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.service-icon i{
    line-height: 50px;
    transform: rotate(-45deg);
    font-size: 20px;
    color: black;
    transition: all 0.3s ease-in-out;
}
.single-service p{
    font-size: 14px;
    width: 85%;
}


/* browse our type */

